footer {
    text-align: center;
    color: violet;
    height: 6rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-size: 1rem;
    }
}